@model List<BlogViewModel>
@{
    ViewData["Title"] = "Trang chủ";
}

@section StyleSheets {
    <link rel="stylesheet" type="text/css" href="~/assets/styles/icomoon.css">
    <link rel="stylesheet" type="text/css" href="~/assets/styles/custom/index_styles.css">
    <link rel="stylesheet" type="text/css" href="~/assets/styles/custom/index_search_styles.css">
}
<!-- Home -->
<div class="home">

    <!-- Home Slider -->
    <div class="home_slider_container">

        <div class="owl-carousel owl-theme home_slider">
            <!-- Slider Item -->
            <div class="owl-item home_slider_item">
                <!-- Image by https://unsplash.com/anikindimitry -->
                <div class="home_slider_background" style="background-image:url(assets/images/home_slider.jpg)"></div>
                <div class="home_slider_content text-center">
                    <div class="home_slider_content_inner" data-animation-in="flipInX" data-animation-out="animate-out fadeOut">
                        <h1>
                            tripviet.com - Truyền cảm hứng và kết nối cho người việt muốn khám phá trải nghiệm điều gì mới mẻ,
                            thú vị hơn cho du lịch và cuộc sống
                        </h1>
                        <!-- <div class="button home_slider_button"><div class="button_bcg"></div><a href="#">explore now<span></span><span></span><span></span></a></div> -->
                    </div>
                </div>
            </div>
            <!-- Slider Item -->
            <div class="owl-item home_slider_item">
                <div class="home_slider_background" style="background-image:url(assets/images/home_slider.jpg)"></div>
                <div class="home_slider_content text-center">
                    <div class="home_slider_content_inner" data-animation-in="flipInX" data-animation-out="animate-out fadeOut">
                        <h1>discover</h1>
                        <h1>the world</h1>
                        <div class="button home_slider_button"><div class="button_bcg"></div><a href="#">explore now<span></span><span></span><span></span></a></div>
                    </div>
                </div>
            </div>
            <!-- Slider Item -->
            <div class="owl-item home_slider_item">
                <div class="home_slider_background" style="background-image:url(assets/images/home_slider.jpg)"></div>
                <div class="home_slider_content text-center">
                    <div class="home_slider_content_inner" data-animation-in="flipInX" data-animation-out="animate-out fadeOut">
                        <h1>discover</h1>
                        <h1>the world</h1>
                        <div class="button home_slider_button"><div class="button_bcg"></div><a href="#">explore now<span></span><span></span><span></span></a></div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Home Slider Nav - Prev -->
        <div class="home_slider_nav home_slider_prev">
            <svg version="1.1" id="Layer_2" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                 width="28px" height="33px" viewBox="0 0 28 33" enable-background="new 0 0 28 33" xml:space="preserve">
            <defs>
            <linearGradient id='home_grad_prev'>
            <stop offset='0%' stop-color='#fa9e1b' />































            <stop offset='100%' stop-color='#8d4fff' />































					</linearGradient>
				</defs>
            <path class="nav_path" fill="#F3F6F9" d="M19,0H9C4.029,0,0,4.029,0,9v15c0,4.971,4.029,9,9,9h10c4.97,0,9-4.029,9-9V9C28,4.029,23.97,0,19,0z
				M26,23.091C26,27.459,22.545,31,18.285,31H9.714C5.454,31,2,27.459,2,23.091V9.909C2,5.541,5.454,2,9.714,2h8.571
				C22.545,2,26,5.541,26,9.909V23.091z" />































            <polygon class="nav_arrow" fill="#F3F6F9" points="15.044,22.222 16.377,20.888 12.374,16.885 16.377,12.882 15.044,11.55 9.708,16.885 11.04,18.219
				11.042,18.219 " />































			</svg>
        </div>

        <!-- Home Slider Nav - Next -->
        <div class="home_slider_nav home_slider_next">
            <svg version="1.1" id="Layer_3" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                 width="28px" height="33px" viewBox="0 0 28 33" enable-background="new 0 0 28 33" xml:space="preserve">
            <defs>
            <linearGradient id='home_grad_next'>
            <stop offset='0%' stop-color='#fa9e1b' />































            <stop offset='100%' stop-color='#8d4fff' />































					</linearGradient>
				</defs>
            <path class="nav_path" fill="#F3F6F9" d="M19,0H9C4.029,0,0,4.029,0,9v15c0,4.971,4.029,9,9,9h10c4.97,0,9-4.029,9-9V9C28,4.029,23.97,0,19,0z
			M26,23.091C26,27.459,22.545,31,18.285,31H9.714C5.454,31,2,27.459,2,23.091V9.909C2,5.541,5.454,2,9.714,2h8.571
			C22.545,2,26,5.541,26,9.909V23.091z" />































            <polygon class="nav_arrow" fill="#F3F6F9" points="13.044,11.551 11.71,12.885 15.714,16.888 11.71,20.891 13.044,22.224 18.379,16.888 17.048,15.554
			17.046,15.554 " />































			</svg>
        </div>
        <!-- Home Slider Dots -->
        <div class="home_slider_dots">
            <ul id="home_slider_custom_dots" class="home_slider_custom_dots">
                <li class="home_slider_custom_dot active"><div></div>01.</li>
                <li class="home_slider_custom_dot"><div></div>02.</li>
                <li class="home_slider_custom_dot"><div></div>03.</li>
            </ul>
        </div>

    </div>
</div>
<!-- Search -->
<div class="search">


    <!-- Search Contents -->

    <div class="container fill_height">
        <div class="row fill_height">
            <div class="col fill_height">

                <!-- Search Panel -->

                <div class="search_panel active">
                    <div action="#" id="search_form_5" class="search_panel_content d-flex flex-lg-row flex-column align-items-lg-center align-items-start justify-content-lg-between justify-content-start">
                        <div class="search_item">
                            <div>Địa điểm</div>
                            <input type="text" id="search_input" class="destination search_input" />
                        </div>
                        @*<button class="button search_button" id="search-location">Tìm kiếm<span></span><span></span><span></span></button>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- CTA -->
<div class="search-no-found" style="display:none">Không tìm thấy kết quả nào!</div>
<div id="colorlib-hotel" style="display:none">
    <div class="container">
        <div class="row">
            <div class="col-md-12 animate-box">
                <div class="owl-carousel owl-theme">
                    <div class="item">
                        <div class="hotel-entry">
                            <a href="hotels.html" class="hotel-img" style="background-image: url(assets/images/custom/hotel-1.jpg);">
                                <p class="price"><span>$120</span><small> /night</small></p>
                            </a>
                            <div class="desc">
                                <p class="star"><span><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i></span> 545 Reviews</p>
                                <h3><a href="#">Hotel Edison</a></h3>
                                <span class="place">New York, USA</span>
                                <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Intro -->
<div class="intro">
    <div class="container">
        <div class="row">
            <div class="col">
                <h2 class="intro_title text-center">Bạn muốn chuyến đi mơ ước của bạn <b>Ở Đâu</b></h2>
            </div>
        </div>
        <div class="row intro_items hot_trend">
            <div class="hot_trend_title">Hot trend</div>
            <ul class="tags_list clearfix">
                <li class="tag_item"><a href="#">Phượng Hoàng Cổ Trấn</a></li>
                <li class="tag_item"><a href="#">Penang</a></li>
                <li class="tag_item"><a href="#">Sơn Đoòng</a></li>
                <li class="tag_item"><a href="#">Koh Phi Phi</a></li>
                <li class="tag_item"><a href="#">El Nido</a></li>
            </ul>
            <!-- Intro Item -->
        </div>
    </div>
</div>
<!-- Offers -->
<div class="offers">
    <div class="container">
        <div class="row">
            <div class="col">
                <h2 class="section_title">
                    Câu chuyện du lịch: Mang đến cảm hứng cho bạn sẵn sàng xách ba lô lên để đi và trải nghiệm
                </h2>
            </div>
        </div>
        <div class="row">
            <div class="col">

                <!-- Testimonials Slider -->
                <div class="test_slider_container">
                    <div class="owl-carousel owl-theme test_slider">
                        @foreach (var story in Model)
                        {
                            if (story.BlogType == BlogType.Story)
                            {
                                <!-- Testimonial Item -->
                                <div class="owl-item">
                                    <div class="test_item">
                                        <div class="test_image">
                                            <a asp-area="" asp-controller="Blog" asp-action="Detail" asp-route-id="@story.Id">
                                                <img src="~/assets/images/test_1.jpg" alt="https://unsplash.com/anniegray">
                                            </a>
                                        </div>
                                        <div class="test_icon"><img src="~/assets/images/backpack.png" alt=""></div>
                                        <div class="test_content_container">
                                            <div class="test_content">
                                                <div class="test_item_info">
                                                    <div class="test_name">@story.Author</div>
                                                    <div class="test_date">@story.Time</div>
                                                </div>
                                                <a asp-area="" asp-controller="Blog" asp-action="Detail" asp-route-id="@story.Id">
                                                    <div class="test_quote_title">@story.Title</div>
                                                </a>
                                                <p class="test_quote_text">@story.Places.FirstOrDefault()?.Name</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                    <!-- Testimonials Slider Nav - Prev -->
                    <div class="test_slider_nav test_slider_prev">
                        <svg version="1.1" id="Layer_6" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                             width="28px" height="33px" viewBox="0 0 28 33" enable-background="new 0 0 28 33" xml:space="preserve">
                        <defs>
                        <linearGradient id='test_grad_prev'>
                        <stop offset='0%' stop-color='#fa9e1b' />































































































































































































































































                        <stop offset='100%' stop-color='#8d4fff' />































































































































































































































































								</linearGradient>
							</defs>
                        <path class="nav_path" fill="#F3F6F9" d="M19,0H9C4.029,0,0,4.029,0,9v15c0,4.971,4.029,9,9,9h10c4.97,0,9-4.029,9-9V9C28,4.029,23.97,0,19,0z
							M26,23.091C26,27.459,22.545,31,18.285,31H9.714C5.454,31,2,27.459,2,23.091V9.909C2,5.541,5.454,2,9.714,2h8.571
							C22.545,2,26,5.541,26,9.909V23.091z" />































































































































































































































































                        <polygon class="nav_arrow" fill="#F3F6F9" points="15.044,22.222 16.377,20.888 12.374,16.885 16.377,12.882 15.044,11.55 9.708,16.885 11.04,18.219
							11.042,18.219 " />































































































































































































































































						</svg>
                    </div>

                    <!-- Testimonials Slider Nav - Next -->
                    <div class="test_slider_nav test_slider_next">
                        <svg version="1.1" id="Layer_7" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                             width="28px" height="33px" viewBox="0 0 28 33" enable-background="new 0 0 28 33" xml:space="preserve">
                        <defs>
                        <linearGradient id='test_grad_next'>
                        <stop offset='0%' stop-color='#fa9e1b' />































































































































































































































































                        <stop offset='100%' stop-color='#8d4fff' />































































































































































































































































								</linearGradient>
							</defs>
                        <path class="nav_path" fill="#F3F6F9" d="M19,0H9C4.029,0,0,4.029,0,9v15c0,4.971,4.029,9,9,9h10c4.97,0,9-4.029,9-9V9C28,4.029,23.97,0,19,0z
						M26,23.091C26,27.459,22.545,31,18.285,31H9.714C5.454,31,2,27.459,2,23.091V9.909C2,5.541,5.454,2,9.714,2h8.571
						C22.545,2,26,5.541,26,9.909V23.091z" />































































































































































































































































                        <polygon class="nav_arrow" fill="#F3F6F9" points="13.044,11.551 11.71,12.885 15.714,16.888 11.71,20.891 13.044,22.224 18.379,16.888 17.048,15.554
						17.046,15.554 " />































































































































































































































































						</svg>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- Testimonials -->
<div class="testimonials">
    <div class="container">
        <div class="row">
            <div class="col">
                <h2 class="section_title">
                    Kết nối thổ địa du lịch: để bạn có được những trải nghiệm khám phá những vùng
                    đất mới thú vị đậm chất địa phương
                </h2>
            </div>
        </div>
        <div class="row offers_items">
            @foreach (var story in Model)
            {
                if (story.BlogType == BlogType.Schedule)
                {
                    <!-- Offers Item -->
                    <div class="col-lg-6 offers_col">
                        <div class="offers_item">
                            <div class="row">
                                <div class="col-lg-6">
                                    <<a asp-area="" asp-controller="Blog" asp-action="Detail" asp-route-id="@story.Id">
                                        <div class="offers_image_container">
                                            <!-- Image by https://unsplash.com/kensuarez -->
                                            <div class="offers_image_background" style="background-image:url(assets/images/offer_1.jpg)"></div>
                                            <div class="offer_name">
                                                @story.Places.FirstOrDefault()?.Name
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-lg-6">
                                    <div class="offers_content">
                                        <div class="offers_price">$70<span>per night</span></div>
                                        <div class="rating_r rating_r_4 offers_rating">
                                            <i></i>
                                            <i></i>
                                            <i></i>
                                            <i></i>
                                            <i></i>
                                        </div>
                                        <p class="offers_text">@story.Title</p>
                                        <div class="offers_icons">
                                            <ul class="offers_icons_list">
                                                <li class="offers_icons_item"><img src="~/assets/images/post.png" alt=""></li>
                                                <li class="offers_icons_item"><img src="~/assets/images/compass.png" alt=""></li>
                                                <li class="offers_icons_item"><img src="~/assets/images/bicycle.png" alt=""></li>
                                                <li class="offers_icons_item"><img src="~/assets/images/sailboat.png" alt=""></li>
                                            </ul>
                                        </div>
                                        <div class="offers_link"><a asp-area="" asp-controller="Blog" asp-action="Detail" asp-route-id="@story.Id">chi tiết</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                }
            }
        </div>
    </div>
</div>
<div class="trending">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <h2 class="section_title">Clip du lịch nổi bật của cộng đồng</h2>
            </div>
        </div>
        <div class="row trending_container">
            <div class="video-item">
                <iframe width="448" height="252" src="https://www.youtube.com/embed/9GW-UWoxq-g" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            </div>
            <div class="video-item">
                <iframe width="448" height="252" src="https://www.youtube.com/embed/RxUdRqcm8Fc" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="https://maps.googleapis.com/maps/api/js?key=@OptionsApplicationConfiguration.Value.APIKey&libraries=places&callback=initAutocomplete&sensor=false" type="text/javascript" async defer></script>
    <script src="~/assets/js/custom/index.js"></script>
}